#cart{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#cartBtn{
    text-align: right;
}
form{
    margin-top: 20px;
    text-align: center;
}

img{
    max-width: 200px;
    max-height: 200px;
    margin: 40px;
}
#warenkorbLink{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.form-control{
    margin: 10px;
    width: fit-content;
}
input{
    font-size: 40px;
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    margin: 10px;
}