<form id="checkoutForm" class="container" action="/checkout" method=POST>
    <div class="form-group row">
        <label for="userFirstName">Vorname</label>
        <input type="text" class="form-control" name="userFirstName" required>
    </div>  
    <div class="form-group row">
        <label for="userLastName">Vorname</label>
        <input type="text" class="form-control" name="userLastName" required>
    </div>
    <div class="form-group row">
        <label for="userEmail">Email addresse</label>
        <input type="email" class="form-control" name="userEmail" placeholder="pepe@hotmail.com" required>
    </div>
    <button class="btn btn-primary" type="submit">Einkauf abschliessen</button>
</form>